<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>DropIn Placeholder. Will be rendered before any other output inside the wrapping container.</f:comment>

<f:if condition="{data.header_layout}==custom-acc">
    <div class="accordion">
</f:if>

</html>
