<f:layout name="Homepage"/>

<f:section name="Main">
    <main class="content-section">
        <f:render partial="Page/Header/Breadcrumb" arguments="{rootline: rootline}"/>
        <!--TYPO3SEARCH_begin-->
        <div id="contentwrap">        
        <main id="content" class="main-content-container">
            <f:comment><h1>{data.title}</h1></f:comment>
            {content -> f:format.raw()}
        </main>
        </div>
    </main>
    <!--TYPO3SEARCH_end-->
</f:section>
