<f:layout name="Default"/>

<f:section name="Main">
    <div class="content-section">
        <div class="breadbrumb-container">
            <f:render partial="Page/Header/Breadcrumb" arguments="{rootline: rootline}"/>
        </div>
        
        <div id="contentwrap">
            <f:if condition="{subMenuContent}">
                <div id="submenuInContent">
                    <div class="whereWeAre">
                        {rootline.1.title}
                    </div>
                    
                    <ul class="submenu">
                        <f:for each="{subMenuContent}" as="oneMenuObject">
                            <f:render section="OneMenuObject" arguments="{oneMenuObject: oneMenuObject}" />
                        </f:for>
                    </ul>
                </div>
            </f:if>

            <!--TYPO3SEARCH_begin-->
                <main id="content" class="main-content-container">
                    {content -> f:format.raw()}

                     
                <div class="flex stretch">
                    <f:if condition="{contentRight}">
                        <div id="footerColumn">
                            {contentRight -> f:format.raw()}
                        </div>
                    </f:if>
                    <div  id="autoFooterColumn">
                        {contentLeft -> f:format.raw()}
                    </div>
                </div>
                    
                </main>


                

        </div>
        
        
    </div>
    <!--TYPO3SEARCH_end-->
</f:section>


<f:section name="OneMenuObject">
    <f:render partial="Page/Header/OneMenuObject" arguments="{_all}"/>
</f:section>




