<f:layout name="Default"/>

<f:section name="Main">
    <main class="content-section">
        <!--TYPO3SEARCH_begin-->
        <div class="content-header-container">
            {contentHeader -> f:format.raw()}
        </div>
        <!--TYPO3SEARCH_end-->
        <div class="breadbrumb-container">
            <f:render partial="Page/Header/Breadcrumb" arguments="{rootline: rootline}"/>
        </div>
        <!--TYPO3SEARCH_begin-->
        <div id="contentwrap">
        <main id="content" class="main-content-container">
            <f:comment><h1>{data.title}</h1></f:comment>
            {content -> f:format.raw()}
        </main>
        </div>
        <!--TYPO3SEARCH_end-->
    </main>
</f:section>
