<div id="breadcrumb-container">
    <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <f:for each="{rootline}" as="item" iteration="i">
            <f:if condition="{i.cycle} == {rootline->f:count()}">
                <f:then>
                    <f:render section="Item" arguments="{cycle: i.cycle,item: item, isLast:'isLast'}"/>
                </f:then>
                <f:else>
                    <f:render section="Item" arguments="{cycle: i.cycle,item: item}"/>
                </f:else>
            </f:if>
            
        </f:for>
    </ul>
</div>

<f:section name="Item">
    <f:if condition="{item.current}">
        <f:then>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="item item{cycle} current {isLast}">
                {item.title}
                <meta itemprop="name" content="{item.title}">
                <meta itemprop="position" content="{cycle}">
            </li>
        </f:then>
        <f:else>
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="item item{cycle} {isLast}">
                <a itemprop="item" href="{item.link}" aria-level="{cycle}" title="{item.title}"
                   class="">{item.title}</a>
                <meta itemprop="name" content="{item.title}">
                <meta itemprop="position" content="{cycle}">
            </li>
        </f:else>
    </f:if>
    
</f:section>
