<div id="logo">
    <f:link.typolink parameter="t3://page?uid={startpageId}">
        <f:format.html>{logo}</f:format.html>
    </f:link.typolink>
</div>
<div id="mobileLogo">
    <f:link.typolink parameter="t3://page?uid={startpageId}">
        <f:format.html>{mobileLogo}</f:format.html>
    </f:link.typolink>
</div>