<f:if condition="{mainMenu}">
        <ul class="menuLevel1" role="menubar" aria-label="Main Navigation">
            <f:for each="{mainMenu}" as="oneMenuObject">
                <f:render section="OneMenuObject" arguments="{oneMenuObject: oneMenuObject}" />
            </f:for>
        </ul>
</f:if>

<!--
<div id="mobilemenu">
</div>
-->



<f:section name="OneMenuObject">
    <f:render partial="Page/Header/OneMenuObject" arguments="{_all}"/>
</f:section>

