<div role="menuitem" aria-haspopup="true" aria-expanded="false" class="mobileMenuIcon">
    <span></span>
</div>

    <div id="mobilemenuContent">
        <div>

            <div id="mobileSearchbox">
                <f:format.raw>{searchBox}</f:format.raw>
                <div id="searchIcon">
                    {searchIcon}
                </div>
            </div>
            <ul id="mobilemenuItself">
                <f:for each="{mainMenu}" as="oneMenuObject">
                    <f:render section="OneMenuObject" arguments="{oneMenuObject: oneMenuObject}" />
                    
                </f:for>
            </ul>
        </div>
    </div>



<f:section name="OneMenuObject">
    <f:render partial="Page/Header/OneMenuObject" arguments="{_all}"/>
</f:section>

