
<f:variable name="_hasChildren" value="{oneMenuObject.children}" />
<f:variable name="class">nav-link level-0 {f:if(condition: _hasChildren, then: 'has-children')} {f:if(condition: oneMenuObject.active, then: 'active')}</f:variable>
<li class="{class}"
    id="id{oneMenuObject.data.uid}"
    role="menuitem"
    aria-expanded="false" >
    <f:render section="Link" arguments="{oneMenuObject: oneMenuObject, hasChildren: _hasChildren, class:'level-0'}" />

    <f:if condition="{oneMenuObject.hasSubpages}">
        <f:render section="Toggle" />
        <f:if condition="{oneMenuObject.children}">
        <div class="navigation-children-container">
            <ul class="menuLevel2 submenu" aria-expanded="false" role="menu">
                <f:for each="{oneMenuObject.children}" as="subOneMenuObject">
                    
                    <f:variable name="subClass">nav-link level-1 {f:if(condition: subOneMenuObject.children, then: 'has-children')} {f:if(condition: subOneMenuObject.active, then: 'active')}</f:variable>
                    <li class="{subClass}" role="menuitem" aria-expanded="false">
                        <f:render section="Link" arguments="{oneMenuObject: subOneMenuObject, hasChildren: _hasChildren, class:'level-1'}" />

                        <f:if condition="{subOneMenuObject.hasSubpages}">
                            <f:render section="Toggle" />
                            <div class="navigation-subChildren-container">
                                <ul class="menuLevel3 submenu" aria-expanded="false" role="menu">
                                    <f:for each="{subOneMenuObject.children}" as="subSubOneMenuObject">
                                        <f:variable name="subSubClass">nav-link level-2 {f:if(condition: subSubOneMenuObject.children, then: 'has-children')} {f:if(condition: subSubOneMenuObject.active, then: 'active')}</f:variable>
                                        <li class="{subSubClass}" role="menuitem" aria-expanded="false" >
                                            <f:render section="Link" arguments="{oneMenuObject: subSubOneMenuObject, class:'level-2'}" />
                                        </li>
                                    </f:for>
                                </ul>
                            </div>
                        </f:if>


                    </li>
                </f:for>
            </ul>
        </div>
        </f:if>
    </f:if>
</li>


<f:section name="Link">
    <a href="{oneMenuObject.link}" class="{class}"
       {f:if(condition: oneMenuObject.current, then: 'aria-current="oneMenuObject"')}
    title="{oneMenuObject.title}"
    aria-haspopup="{f:if(condition: hasChildren, then: 'true', else: 'false')}"
    {f:if(condition: oneMenuObject.target, then: 'target="{oneMenuObject.target}" rel="noreferrer"')}>
    {oneMenuObject.title}
    </a>
</f:section>

<f:section name="Toggle">
    <span class="nav-toggle"
          aria-haspopup="true"
          aria-label="{f:translate(key: 'frontend.oneMenuObjects.default.navigation.submenu.toggle', extensionName: 'Site')}">
    </span>
    <div class="clear"></div>
</f:section>
