<div id="searchbox">
    <div id="searchboxInner">
        <div id="searchboxItself">
            <f:format.raw>{searchBox}</f:format.raw>
        </div>
        <div id="searchIcon">
            {searchIcon}
        </div>

    </div>
</div>
