

<div class="frame frame-container frame-{data.frame_class} frame-type-{data.CType} frame-layout-{data.layout} {f:if(condition: data.space_before_class, then: 'frame-space-before-{data.space_before_class}', else:' frame-space-before-none')} {f:if(condition: data.space_after_class, then: 'frame-space-after-{data.space_after_class}', else:' frame-space-after-none')}">

<div class="column1 percent33">
<f:for each="{children_201}" as="record">

    <f:format.raw>
        {record.renderedContent}
    </f:format.raw>
</f:for>
</div>
<div class="column2 percent66">

<f:for each="{children_202}" as="record">

    <f:format.raw>
        {record.renderedContent}
    </f:format.raw>
</f:for>
    </div>
        </div>