{f:if(condition: '{item.disabled} && {item.context.drawingConfiguration.showHidden} == 0', then: 'height: 0; position: absolute;') -> f:variable(name: 'style')}


<div class="t3-page-ce {item.wrapperClassName} type-{item.record.CType} {f:if(condition:'{item.record.CType}==\'header\'',then:'header-layout-{item.record.header_layout}')} t3js-page-ce t3js-page-ce-sortable" id="element-tt_content-{item.record.uid}" data-table="tt_content" data-uid="{item.record.uid}" data-language-uid="{item.record.sys_language_uid}" style="{style}">
    <div class="t3-page-ce-element t3-page-ce-dragitem" id="{item.uniqueId}">
        <f:render partial="PageLayout/Record/{item.record.CType}/Header" arguments="{_all}" optional="1">
            <f:render partial="PageLayout/RecordDefault/Header" arguments="{_all}" />
        </f:render>
        <f:spaceless>
            <div class="t3-page-ce-body">
                <f:render partial="PageLayout/RecordDefault/Preview" arguments="{_all}" />
            </div>
        </f:spaceless>
        <f:render partial="PageLayout/Record/{item.record.CType}/Footer" arguments="{_all}" optional="1">
            <f:render partial="PageLayout/RecordDefault/Footer" arguments="{_all}" />
        </f:render>
        <f:if condition="{item.inconsistentLanguage}">
            <div class="t3-page-ce-footer">
                <span class="badge badge-warning">{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.inconsistentLanguageWarning')}</span>
            </div>
        </f:if>
    </div>
    <f:if condition="{allowEditContent} && {item.column.contentEditable} && {column.context.allowNewContent} && {column.active}">
        <div class="t3-page-ce-actions t3js-page-new-ce" id="colpos-{item.column.columnNumber}-page-{item.context.pageId}-{item.column.uniqueId}">
            <typo3-backend-new-content-element-wizard-button class="btn btn-default btn-sm" url="{item.newContentAfterUrl}" subject="{f:translate(key: 'LLL:EXT:backend/Resources/Private/Language/locallang_layout.xlf:newContentElement')}">
                <core:icon identifier="actions-plus" />
                <f:translate key="LLL:EXT:backend/Resources/Private/Language/locallang_layout.xlf:content" />
            </typo3-backend-new-content-element-wizard-button>
        </div>
    </f:if>
    <div class="t3-page-ce-dropzone t3js-page-ce-dropzone-available"></div>
</div>
