

<div class="accordion frame frame-container frame-{data.frame_class} frame-type-{data.CType} frame-layout-{data.layout} {f:if(condition: '{data.space_before_class}', then: 'frame-space-before-{data.space_before_class}', else:' frame-space-before-none')} {f:if(condition:'{data.space_after_class}', then:' frame-space-after-{data.space_after_class}', else:' frame-space-after-none')}">
    <header>
        <h2 class="accordion-header">{data.header}</h2>
    </header>
    
    <div class="accordion-content">

        <div class="column1 oneOfOne">
            <f:for each="{children_201}" as="record">
                <f:format.raw>
                    {record.renderedContent}
                </f:format.raw>
            </f:for>
        </div>
    </div>
    
</div>