<div id ="wrap" class="broaderWrap">
    <div id ="innerWrap">
        <f:render partial="Page/Header" arguments="{_all}" />
        <f:render section="Main"/>
        <f:render partial="Page/Footer" arguments="{_all}" />
    </div>
</div>