<div id="menuCloseOverlay"></div>
<div id="isMobile"></div>

<header id="headerarea">
    <div id="headerareaInner">
    <f:render partial="Page/Header/Logo" arguments="{_all}"/>
    <nav id="mainmenu" class="navigation-elements" role="navigation"
         aria-label="{f:translate(key: 'frontend.oneMenuObjects.default.navigation.main', extensionName: 'Basep')}">

        <f:render partial="Page/Header/MainMenu" arguments="{_all}"/>
        <f:render partial="Page/Header/Searchbox" arguments="{_all}"/>
        <f:render partial="Page/Header/MainMenuMobile" arguments="{_all}"/>
    </nav>
    </div>
</header>
