<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{data.header_layout}==custom-acc">
        <div class="accordion-content">
    </f:if>

    <f:format.html>{data.bodytext}</f:format.html>

    <f:if condition="{data.header_layout}==custom-acc">
        </div>
    </f:if>    

</f:section>
</html>
