/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2022, 4:20:03 PM
    Author     : oe
*/


:root {
    --ce-space: 2rem;
}

*, html, body, table, td, tr, div, p {
    padding:0;
    margin:0;
}

a {
    text-decoration: underline;
    cursor:pointer;
}

#wrap {
    background:#eee;
    min-height:100vH;
}

#innerWrap {
    max-width:1650px;
    margin: 0 auto;
    min-height:100vH;
}
#logo,
#mobileLogo {
    position:absolute;
}

/***** BASICS *****/

.flex {
    display: flex;
}

.flexMobileAlso {
    display: flex;
}

.flex.stretch {
    justify-content: space-between;
}

.noGrow {
    flex-grow: 0;
    flex-shrink: 0;
}

.flexchildeven {
    flex-basis: 100%;
}

.vFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vCenter {
display: flex;
  align-items: center;
}

.visibleOnTablet {
    display:none;
}
.notVisibleOnTablet {
    display:block;
}

.grid {
    display:grid;
}

.clear {
    clear: both;
}

.breakable {
    -ms-word-break: break-all;
    word-break: break-all;

    /* Non standard for WebKit */
    word-break: break-word;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

}

.frame-space-after-extra-small {
    margin-bottom: calc(0.6 * var(--ce-space));
}
.frame-space-after-small {
    margin-bottom: calc(1.2 * var(--ce-space));
}
.frame-space-after-medium {
    margin-bottom: calc(2 * var(--ce-space));
}
.frame-space-after-large {
    margin-bottom: calc(3.5 * var(--ce-space));
}
.frame-space-after-extra-large {
    margin-bottom: calc(5 * var(--ce-space));
}

.frame-space-before-extra-small {
    margin-top: calc(0.6 * var(--ce-space));
}
.frame-space-before-small {
    margin-top: calc(1.2 * var(--ce-space));
}
.frame-space-before-medium {
    margin-top: calc(2 * var(--ce-space));
}
.frame-space-before-large {
    margin-top: calc(3.5 * var(--ce-space));
}
.frame-space-before-extra-large {
    margin-top: calc(5 * var(--ce-space));
}


/***** MENU *****/


#mainmenu {
    flex:1;
    z-index:99;
}

#menuCloseOverlay {
    position:fixed;
    top:5rem;
    width:100vW;
    height:100vH;
    background:none;
    display:none;
    z-index:2;
}

#mainmenu ul {
    display:flex;
    /*    align-items:center;    */
    /*    border:1px dotted white;*/
    justify-content: space-between;
    position:relative;
}
#mainmenu ul li {
    position:relative;
    list-style-type: none;
}
#mainmenu ul li a {
    text-decoration: none;
}

#mainmenu ul.menuLevel2 {
    display:none;
    background-color:rgba(255,255,255,0.98);
    width:auto;
    box-shadow: 0 0 30px 0 rgba(0, 24, 46, 0.04);
}


#mainmenu ul.menuLevel2:not(#mobilemenuContent ul.menuLevel2 ) {
    /*    padding: 2.5rem 3.5rem 1.5rem 3.5rem;
        left:-3.5rem;
        margin-top:1rem;*/
    position:absolute;
}

#mobilemenuContent ul.menuLevel2 {
    padding-left:2rem;
}

#mainmenu ul.menuLevel3 {
    display:none;
    position:absolute;
    padding: 2.5rem 3.5rem 1.5rem 3.5rem;
    background-color:rgba(255,255,255,0.98);
    box-shadow: 0 0 30px 0 rgba(0, 24, 46, 0.04);
    margin-top:-3rem;
    left:10rem;
}

#mainmenu ul.menuLevel2 li.level-1,
#mainmenu ul.menuLevel3 li.level-2 {
    text-align: left;
    padding-bottom:1.5rem;
    white-space: nowrap;
}
#mainmenu ul.menuLevel2.open,
#mainmenu ul.menuLevel3.open {
    display:block;
}
#mainmenu ul.menuLevel2 a {
    /*    color:#003160;*/
}
#mainmenu ul.menuLevel2 a:hover {
}

#searchIcon {
    cursor:pointer;
}

/***** HELPER INDICATORS *****/

#isMobile,
#isTablet {
    display:none;
    postition:asolute;
}

/***** MOBILE MENU *****/

.mobileMenuIcon {
    width:1.3rem;
    height:1.3rem;
    background-image: url('../Icons/mobileMenuIcon.svg');
    background-repeat: no-repeat;
    background-size: 1.3rem;
    position: absolute;
    top:1.5rem;
    right:2rem;
    display:none;
}
.mobileMenuIcon.open {
    background-image: url('../Icons/mobileMenuIconClosed.svg');
}

#mobilemenuContent {
    opacity:1;
    position: absolute;
}

#mobilemenu,
#mobilemenuContent {
    overflow: hidden;
}
#mobilemenuContent .menuLevel2,
#mobilemenuContent .menuLevel3 {
    overflow: hidden;
}

#mobilemenuContent ul li.has-children .nav-toggle {
    width:2rem;
    height:2rem;
    position: absolute;
    right: 1rem;
}

/***** BREADCRUMB *****/

ul.breadcrumb {
    display: flex;
    list-style-type: none;
}

.submenuInContent ul {
    list-style-type: none;

}


/***** CONTAINER *****/

.flex {
    display:flex;
}
.flex.stretch {
    justify-content: space-between;
}

.space, .spacer {
    margin-bottom:1rem;
}

.float, .floatLeft {
    float:left;
}
.floatRight {
    float:right;
}
.clear {
    clear:both;
}

.frame-type-basep-2cols-container,
.frame-type-basep-2cols-container_33-66,
.frame-type-basep-2cols-container_66-33 {
    display:flex;
    justify-content: space-between;
}

.frame-type-basep-2cols-container .percent50 {
    width:49%;
}

.frame-type-basep-2cols-container_33-66 .percent33 {
    width:32%;
}

.frame-type-basep-2cols-container_33-66 .percent66 {
    width:65%;
}

.frame-type-basep-2cols-container_66-33 .percent33 {
    width:32%;
}

.frame-type-basep-2cols-container_66-33 .percent66 {
    width:65%;
}



.frame-type-basep-3cols-container {
    display:flex;
    justify-content: space-between;
    align-items:stretch;
}

.frame-type-basep-3cols-container .percent33 {
    width:31%;
}
.frame-type-basep-4cols-container {
    display:flex;
    justify-content: space-between;
}

.frame-type-basep-4cols-container .colWrap {
    display:flex;
    width:49%;
    flex-shrink:0;
    justify-content: space-between;
}

.frame-type-basep-4cols-container .percent50 {
    width:48%;
}

/*##################################################################*/
/*########################### Tooltips ##########################*/
/*##################################################################*/



.tooltip_templates {
    display: none;
}


/*##################################################################*/
/*########################### Tooltips ##########################*/
/*##################################################################*/

.maccordion-content {
    display: none;

}
