
/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */
/* ############################# TABLET AND MOBILE ( <= 1024)  ########################################################################################################### */
/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */


@media only screen and (max-width: 1024px) {

    #searchbox {
        display:none;
    }
    
    #mobileSearchbox .tx-kesearch-pi1 {
       background-color: #eee;
       padding:1rem 0 1rem 2rem;
       margin-left:0;
    }
         
    
    #mobileSearchbox .tx-kesearch-pi1 form,
    #mobileSearchbox div.kesearchbox {
        margin-bottom:0 !important;
        width:max-content;
    }
    #mobileSearchbox  #filterSearchIcon {
        background:none;
    }
    
    #mobileSearchbox #ke_search_sword {
        width: calc( 100vW - 30px - 4rem);
    }
  
    #content .tx-kesearch-pi1 {
        padding:1.3rem 2rem 1rem 2rem;
    }
    
    .tx-kesearch-pi1 .filter {
        margin: -1.3rem 0 0 -2rem;
        padding-right:0;
        padding-left:4rem;
        padding-bottom: 0;
    }
    
     #content .tx-kesearch-pi1 form #filterSearchIcon {
        margin:0.5rem 0 0 0;
     }
         
     #content .tx-kesearch-pi1 form #ke_search_sword {
        width: calc( 100vW - 60px - 10rem);
        margin:0.5rem 0 1rem 0;
    }
            
    #content .tx-kesearch-pi1 form {
        padding-left:3rem;
    }

    #content .tx-kesearch-pi1 form fieldset.kesearch_searchbox {
       display:block;    
    }
    
    #content .tx-kesearch-pi1 form div.kesearchbox {
        height:auto;
    }    
    
}


/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */
/* ############################# TABLET (1024)  ########################################################################################################### */
/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */


@media only screen and (max-width: 1024px) and (min-width: 441px) {
    
/*###############################################################################
#################################### MENU #######################################*/

    #mobileSearchbox #ke_search_sword {
        width: calc( 50vW - 30px - 4rem);
    }
    
}

/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */
/* ############################# TABLET hoch overwrite (768)  ########################################################################################################### */
/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */


@media only screen and (max-width: 768px) and (min-width: 441px) {

}


/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */
/* ############################# MOBILE (360)  ############################################################################################################ */
/* ######################################################################################################################################################## */
/* ######################################################################################################################################################## */


@media only screen and (max-width: 440px) {
    
}