#ke_search_sword {
  position: relative !important;
}

#searchIcon {
}
#searchbox {
    padding-top:1.4rem;
    width:3.5rem;
    text-align:right;
    position: relative;
    z-index: 100;    
}
#searchboxInner {
    position: relative;
    width:1.4rem;
    width:24px;
}
#searchboxItself {
    position: absolute;
    left: -10.6rem;
    width:12rem;
    top: 1.8rem;  
    opacity: 0;
    transition: opacity 0.5s;
}
#mobileSearchbox .submitbutt,
#mobileSearchbox #kesearch_filters,
#mobileSearchbox div.head,
#mobileSearchbox div.filterIcon,
#mobileSearchbox #searchIcon,
#searchboxItself .submitbutt,
#searchboxItself #filterSearchIcon,
#searchboxItself #kesearch_filters,
#searchboxItself div.head,
#searchboxItself div.filterIcon
{
    display:none;
}
#searchboxItself .tx-kesearch-pi1 {
    padding:0;
    margin:0;
    background-color:transparent !important;
}
#searchboxItself.open {
    opacity: 1;
}

fieldset.kesearch_searchbox {
    display:flex;
}
#kesearch_filters .list {
    border:none;
}
#filterSearchIcon {
    width:30px;
    border:none;
    float:right;
    padding:0.2rem 1rem 0.8rem 1rem;
}
#searchboxItself .kesearchbox {
    padding: 0 !important;
    margin:0 !important;
    background-color:transparent !important;
}


.tx-kesearch-pi1 {
    padding-bottom:5rem;
}
.tx-kesearch-pi1 .resetbutt,
.tx-kesearch-pi1 .submitbutt {
    display:none;
}

.tx-kesearch-pi1 #kesearch_results .result-list-item .hit {
    color:#0067c7 !important;
}

.frame-type-felogin_login label input {
    margin-left:200px;
}


.tx-kesearch-pi1 {
    padding:2rem 3.5rem 3rem 6rem;
    position: relative;    
}

.tx-kesearch-pi1 div.filterIcon {
    position:absolute;
    top: 0;
    left: 0;
    padding:1rem;
    width: 24px;
    height:24px;
    background-color: #003160;
    background-image:url('../Icons/icon-search_blue.svg');
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 1s;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
