<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
        <f:media 
            class="image-embed-item" 
            file="{file}" 
            width="{dimensions.width}" 
            height="{dimensions.height}" 
            alt="{file.alternative}" 
            title="{file.title}" 
            loading="{settings.media.lazyLoading}" 
            decoding="{settings.media.imageDecoding}" 
            additionalAttributes="{srcset: '{f:uri.image(image: file, cropVariant:\'mobile\', maxWidth: 600)} 680w,
                                            {f:uri.image(image: file, cropVariant:\'tablet\', maxWidth: 1000)} 1024w,
                                            {f:uri.image(image: file, cropVariant:\'default\', maxWidth: 1200)} 1200w',
                                   sizes: '(min-width: 1025px) 100vw, 100vw'}"            
            />            
    
    <f:comment>############################
        <f:media class="image-embed-item" file="{file}" width="{dimensions.width}" height="{dimensions.height}" alt="{file.alternative}" title="{file.title}" loading="{settings.media.lazyLoading}" decoding="{settings.media.imageDecoding}" />            
        <f:debug>{_all}</f:debug>   

    <picture class="responsive">
        <source srcset="{f:uri.image(image:'{file}',cropVariant:'default',width:'{dimensions.width}')}"  media="(min-width:1025px)" />

        <source srcset="{f:uri.image(image:'{file}',cropVariant:'tablet',width:'500')}" media="(min-width:769px)" />
        <source srcset="{f:uri.image(image:'{file}',cropVariant:'mobile',width:'400')}" media="(max-width:768px)" />
        
    <f:image image="{file}"
        cropVariant="mobile"
        alt="{file.alternative}"
        title="{file.title}"
        loading="{settings.media.lazyLoading}"          
    />
</picture>

   ############################ </f:comment>
    
    </html>
