
<ul class="footerMenu submenu" aria-expanded="false" role="menu">
    <f:for each="{footerMenu}" as="oneMenuItem">
        <li class="" role="menuitem">
                <f:render section="Link" arguments="{oneMenuObject: oneMenuItem}" />
        </li>
    </f:for>

</ul>

<f:section name="Link">
    <a href="{oneMenuObject.link}" class=""
    title="{oneMenuObject.title}"
    aria-haspopup="{f:if(condition: hasChildren, then: 'true', else: 'false')}"
    {f:if(condition: oneMenuObject.target, then: 'target="{oneMenuObject.target}" rel="noreferrer"')}>
    {oneMenuObject.title}
    </a>
</f:section>